<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %} </title>

    <!--<base href="/">-->

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="<%= cssFile %>">
    {% endfor %}

</head>

<body>

{% block content %}{% endblock %}

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="<%= jsFile %>"></script>
{% endfor %}

</body>

</html>