<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">{{ headerCtrl.brand }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav container">
            <li ng-class="{active: headerCtrl.activeState == 'favorites'}">
                <a ui-sref="favorites">Favorite Users</a>
            </li>
            <li ng-class="{active: headerCtrl.activeState == 'find-users'}">
                <a ui-sref="find-users">Find Users</a>
            </li>
            <li ng-class="{active: headerCtrl.activeState == 'saved-statuses'}">
                <a ui-sref="saved-statuses">Saved Statuses</a>
            </li>
            <li class="pull-right" ng-class="{active: headerCtrl.activeState == 'login'}">
                <a ui-sref="login">Login</a>
            </li>
            <li class="pull-right" ng-class="{active: headerCtrl.activeState == 'dashboard'}">
                <a ui-sref="saved-statuses">Dashboard</a>
            </li>

        </ul>

    </div>

</nav>