<div class="content">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">{{dashboardOverviewCtrl.overviewData.totalUsers}}</span>
            Total Users
        </li>
        <li class="list-group-item">
            <span class="badge">{{dashboardOverviewCtrl.overviewData.totalRetweets}}</span>
            Total Retweets
        </li>
        <li class="list-group-item">
            <span class="badge">{{dashboardOverviewCtrl.overviewData.totalSavedItems}}</span>
            Total Saved Items
        </li>
    </ul>
</div>