html{
    height:100%;
}
body{
    height:90%;
}

.twitter-singin-button {
    background-image: url("https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-link.png");
}